/* TEXT */

@font-face {
  font-family: "Cynthia-Basic"; /* Name of the font family */
  src: url("fonts/Cynthia-Basic.woff2") format("woff2"),
    url("fonts/Cynthia-Basic.woff") format("woff"),
    url("fonts/Cynthia-Basic.otf") format("otf"),
    url("fonts/Cynthia-Basic.ttf") format("ttf");
}

* {
  font-family: "Cynthia-Basic", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
}

h1 {
  font-size: 2em;
  font-weight: bold;
}

a {
  text-decoration: none; /* Remove underline from the header link */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* PAGE BODY */

body {
  display: flex;
  justify-content: center; /* Center horizontally */
  margin: 0;
  align-items: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.homepage-content {
  padding-top: 59px;
  max-width: 1100px;
}

.subpage-content {
  padding-top: 59px;
  max-width: 1000px;
  padding-left: 30px;
  padding-right: 30px;
}

/* HOMEPAGE IMAGE GRID */

#image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 300px; /* Set the fixed height for the image tiles */
  gap: px; /* Set the gap between the image tiles */
}

#image-grid .image-tile {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#image-grid .image-tile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* Make the webpage responsive */
@media only screen and (max-width: 600px) {
  /* Add responsive styles here for screens smaller than 600px */
  h2 {
    font-size: 18px; /* Decrease the font size for h2 */
    padding-bottom: 10px; /* Add some padding to the bottom of h2 */
  }

  p {
    font-size: 14px; /* Decrease the font size for p */
    padding: 0; /* Remove any padding from p */
  }
}


/* MENU BAR */

/* Make the header fixed at the top */
.header {
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 10px; /* Add any necessary padding for the banner */
  position: fixed;
  border-bottom: 1px solid #000;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999; /* Set a high z-index to ensure it appears above other elements */
}

/* IMAGES */

/* Rest of the CSS remains the same */
.image-grid-subpage {
  /*max-height: 300px;*/
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  .image-grid-subpage {
    flex-wrap: wrap;
  }
}

.image-object {
  flex: 0 0 0.1;
  margin-bottom: 20px;
  margin-top: 20px;
  position: relative; /* Add relative positioning to create a stacking context for absolute positioning */
  overflow: hidden; /* Hide overflowing title when not visible */
}

.image-object img {
  width: 100%;
  height: auto;
  transition: filter 0.3s; /* Smooth transition for the darkened overlay */
}

.image-object:hover img {
  filter: brightness(
    70%
  ); /* Apply a darkened overlay when hovering over the image */
}

.image-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.3s; /* Smooth transition for opacity */
}

.image-object:hover .image-title {
  opacity: 1; /* Show the image title when hovering over the image-object */
}
