@font-face {
  font-family: "BerlinType-Regular"; /* Name of the font family */
  src: url("fonts/BerlinType-Regular.woff2") format("woff2"),
    url("fonts/BerlinType-Regular.woff") format("woff"),
    url("fonts/BerlinType-Regular.otf") format("otf"),
    url("fonts/BerlinType-Regular.ttf") format("ttf");
}

* {
  font-family: "BerlinType-Regular", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Remove outline for all text elements */
a,
button,
input,
textarea,
select,
label,
[contenteditable="true"] {
  outline: none;
}

/* Additional styles to indicate focus on keyboard navigation */
a:focus,
button:focus,
input:focus,
textarea:focus,
select:focus,
label:focus,
[contenteditable="true"]:focus {
  outline: none;
  border: 2px solid #007bff; /* Blue border on focus */
  box-shadow: 0 0 2px 2px #007bff; /* Blue box shadow on focus */
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.header {
  text-decoration: none;
  color: black;
  /* Add any other desired styles */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 300px; /* Set the fixed height for the image tiles */
  gap: px; /* Set the gap between the image tiles */
}

#image-grid .image-tile {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#image-grid .image-tile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
